.order-card,
.order-category {
  // background: rgb(43, 42, 42);
  padding: 20px;
  margin: 1rem 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}
.order-category {
  font-weight: bold;
}

.admin {
  display: flex;
}

.edit {
  margin-right: 15px;
}
.admin-btn {
  padding: 0.25rem 1rem;
  background: lightblue;
  border-radius: 3rem;
  text-decoration: none;
  color: white;
}
.admin-title {
  margin-left: 1.5rem;
}
