.order-card,
.order-category {
  // background: rgb(43, 42, 42);
  padding: 20px;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.order-category {
  font-weight: bold;
}
