.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2.5em;
  background-color: #e1f2fb;
  align-items: center;
  margin: 0;
  margin-top: auto;

  &__admin-text {
    margin: 0;
    text-decoration: none;
    color: #000000;
  }
}
