.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  color: white;
  background: white;
  align-items: center;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 9999;

  &__logo {
    display: contents;
    a {
      text-decoration: none;
      color: white;
      background: rgb(61, 163, 177);
      padding: 0.25rem 0.5rem;
      font-size: 1.5rem;
    }
  }

  &__admin-link {
    margin: 0;
    text-decoration: none;
    color: rgb(29, 28, 28);
    margin-right: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
