@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'header';
@import 'blog';
@import 'footer';
@import 'admin';

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(59, 52, 52, 0.911), rgba(90, 93, 139, 0.959)),
    url('https://source.unsplash.com/random/1920x1080/?nature');
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Lato', sans-serif;
}

@media (max-width: 650px) {
  .container {
    min-width: unset;
    max-width: 95%;
  }
}
