@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em;
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#e1f2fb), color-stop(150%, #1d1c1c));
  background: linear-gradient(-90deg, #e1f2fb, #1d1c1c 150%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header__logo {
  margin: 0;
}

.header__logo a {
  text-decoration: none;
  color: black;
  background: #e1f2fb;
  padding: 0.75rem 2rem;
  mix-blend-mode: screen;
}

.header__admin-link {
  margin: 0;
  text-decoration: none;
  color: #1d1c1c;
}

.header__admin-link:hover {
  text-decoration: underline;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
  min-width: 600px;
  margin: 0 auto;
}

.blog-entry {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.25rem;
  margin: 0.5rem;
  overflow: hidden;
}

.blog-entry > * {
  background-color: white;
}

.blog-entry__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

.blog-entry__image-wrap {
  height: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.671);
}

.blog-entry__image {
  max-height: 350px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.blog-entry__text {
  padding: 2rem;
  margin: 0;
}

.blog-entry__author {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.829);
}

iframe {
  width: 100%;
  height: 70%;
  max-height: 500px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5.5em;
  background-color: #e1f2fb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-top: auto;
}

.footer__admin-text {
  margin: 0;
  text-decoration: none;
  color: #ce8b98;
}

.order-card,
.order-category {
  background: #141414;
  padding: 20px;
  margin: 1rem 0;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-columns: 30px (minmax(100px, 200px))[5];
      grid-template-columns: 30px repeat(5, minmax(100px, 200px));
  color: white;
  max-height: 40px;
  overflow: hidden;
}

.order-category {
  font-weight: bold;
}

.admin-msg {
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.admin-add-btn {
  background: none;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 2rem;
}

.admin-add-btn:hover {
  background: #77dd77;
  border: 2px solid #77dd77;
}

.admin-btn {
  padding: 0.25rem 1rem;
  background: transparent;
  border-radius: 3rem;
  text-decoration: none;
  color: white;
  border: 2px solid white;
}

.admin-btn:hover {
  background: white;
  color: #2b2a2a;
  border: 2px solid white;
}

.admin-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: #141414;
  padding: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 52, 52, 0.911)), to(rgba(90, 93, 139, 0.959))), url("https://source.unsplash.com/random/1920x1080/?nature");
  background: linear-gradient(rgba(59, 52, 52, 0.911), rgba(90, 93, 139, 0.959)), url("https://source.unsplash.com/random/1920x1080/?nature");
  background-attachment: fixed;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  font-family: 'Lato', sans-serif;
}

@media (max-width: 650px) {
  .container {
    min-width: unset;
    max-width: 95%;
  }
}
/*# sourceMappingURL=main.css.map */